.web {
  display: flex;
  flex: 1;
  align-items: center;
}

.web_option {
  font-size: 20px;
  margin-right: 16px;
  font-weight: 700;
}

.web_option:last-child {
  margin-right: 0px;
}

.web_option a {
  text-decoration: none;
  display: flex;
  align-items: center;
  color: blue;
}

.web_option-icon {
  width: 20px;
  height: 20px;
  font-size: 24px;
  margin-right: 4px;
}
