.contact_details {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.contact_social-icons img {
  width: 35px;
}

.contact_social-icons {
  display: flex;
  justify-content: center;
  gap: 1.7rem;
}

.contact_downloadresume {
  display: flex;
  align-items: center;
  gap: 0.4rem;
  cursor: pointer;
  text-decoration: none;
  margin: 2rem 0;
}

.contact_downloadresume img {
  height: 30px;
}

@media screen and (max-width: 720px) {
  .contact_details {
    display: grid;
    grid-template-columns: auto;
  }
  .contact_downloadresume {
    justify-content: center;
  }
}
