.header {
  display: flex;
  justify-content: space-between;
  margin: 1.5rem 3rem;
  position: relative;
  align-items: center;
}

.menu {
  background-color: white;
  display: flex;
  flex: 1;
  justify-content: flex-end;
}

.mobile-menu_icon {
  width: 25px;
  height: 25px;
  font-size: 24px;
}

.mobile-menu {
  display: none;
}

.web-menu {
  display: flex;
}

.logo {
  display: flex;
  font-size: 36px;
  font-weight: 800;
  color: blue;
  cursor: pointer;
}

@media screen and (max-width: 720px) {
  .header {
    margin: 1.5rem 0.5rem;
  }
  .mobile-menu {
    display: flex;
  }
  .web-menu {
    display: none;
  }
  .logo {
    font-size: 24px;
  }
}
