.project-card {
  display: flex;
  flex: 1;
  justify-content: space-between;
  align-items: center;
}

.project-photo {
  width: 40%;
}

.link-button > img {
  height: 15px;
}

.project-title {
  font-size: 20px;
  font-weight: 600;
}

.project-tags {
  display: flex;
  max-width: 60%;
  flex-wrap: wrap;
  gap: 4px;
}

.tag {
  padding: 4px 8px;
  border-radius: 4px;
  background-color: aquamarine;
}

.project-links a {
  text-decoration: none;
  color: black;
}

.project-links {
  margin-top: 6px;
  display: flex;
}

.link-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: aquamarine;
  padding: 4px 8px;
  border-radius: 4px;
  font-size: 16px;
  margin-right: 6px;
}

@media screen and (max-width: 720px) {
  .project-card {
    flex-direction: column-reverse;
  }
  .project-photo {
    width: 80%;
  }
  .project-tags {
    max-width: 100%;
  }
}
